.brend-text {
    height: 56px;
    max-width: 100%;
    padding-left: 16px;
    font-family: 'TT Lakes Light';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7e7e82;
    padding-bottom: 0;
    text-transform: uppercase;
    border-top: $border-list;
    margin-top: 40px;
    background-image: linear-gradient(to left, #ffffff, #f8f8f8);
}

.brend-wrapper {
    max-width: 288px;
    margin: 0 auto;
    .brend-img {
        max-width: 108px;
        max-height: 52px;
    }
    .brend-item__svg {
        width: 40px;
        height: 40px;
    }
    .brend-list {
        display: none;
    }
    .swiper {
        width: 240px;
        height: 100px;
    }
    .swiper-button-prev,
    .swiper-button-next {
        display: none !important;
    }
    .swiper-scrollbar {
        display: none;
    }
    .swiper-slide {
        height: 72px !important;
        width: 240px;
        box-sizing: border-box;
        display: flex !important;
        justify-content: space-around;
        align-items: center;
        border: 1px solid #eaeaea;
        border-radius: 6px;
    }
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #dddddd !important;
    }
    .swiper-pagination-bullet-active {
        background-color: #b5b6bc !important;
    }
    .main__button {
        display: none;
    }
}

@media (min-width: 525px) and (max-width: 767px) {
    .brend-wrapper {
        max-width: 525px;
        .swiper {
            width: 532px;
        }
    }
}

@media (min-width: 768px) {
    .brend-text {
        padding-left: 24px;
        height: 56px;
    }
    .brend-wrapper {
        max-width: 720px;
        .brend-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
        // .brend-wrapper.hidden .brend-item:nth-child(n + 7) {
        //     display: none;
        // }
        .brend-item {
            min-width: 224px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 16px;
            border-radius: 6px;
            border: 1px solid $item-border-color;
            background: $item-background;
            box-sizing: border-box;
        }
        .main__button {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 24px;
            gap: 16px;
        }
        .main__description_btn {
            font-family: 'TT Lakes Medium';
            font-size: 14px;
            line-height: 24px;
            background: none;
            border: none;
            text-align: left;
        }
        .main__description_png {
            width: 7px;
            height: 10px;
        }
        .swiper {
            display: none !important;
        }
    }
}

@media (min-width: 1120px) {
    .brend-text {
        height: 56px;
        padding-left: 6px;
    }
    .brend-wrapper {
        max-width: 1056px;
        .brend-item {
            min-width: 240px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        // .brend-wrapper.hidden .brend-item:nth-child(n + 7) {
        //     display: flex;
        // }
        // .brend-wrapper.hidden .brend-item:nth-child(n + 9) {
        //     display: none;
        // }
        .swiper {
            display: none !important;
        }
    }
}