$text-color: #7e7e82;
$btn-background-color: #ff3e79;
$background-color: #f8f8f8;
$border-list: 1px solid #d9fff5;
$stick-color: #41f6d7;
$item-border-color: #eaeaea;
$item-background: #fff;
$input-text-color: #b5b6bc;
$price-text: #1b1c21;
@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'TT Lakes Light';
    src: url('../fonts/TTLakes-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'TT Lakes Medium';
    src: url('../fonts/TTLakes-Medium.ttf') format('truetype');
}

body {
    position: relative;
    margin: 0;
    background-color: $background-color;
}

@import './styles.scss';
@import './brend.scss';
@import './call.scss';
@import './footer.scss';
@import './price.scss';
@import './side-menu.scss';
@import './technology.scss';